body{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box1{
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    width:50vw;
    height: 30vh;
    background-color: rgb(22, 66, 40);
}
.box2{
    align-content: center;
    padding: auto;
    height: 25vh;
    background-color: rgb(78, 197, 128);
}