body{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    width: 500px;
    height: 200px;
    background-color: rgb(57, 116, 81);
    border: 30px;
    border-style: solid;
    border-color:rgb(161, 61, 22);
}